* {
  font-family: 'Roboto', sans-serif;
}

.headerer .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1025px;
  margin-left: 138px;
}

.itemPage {
  position: relative;
  width: 1200px;
  height: 100%;
}

.signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1025px;
  margin-left: 138px;
}

.cart {
  top: 14px;
}

.cart img {
  width: 80px;
}

.banner {
  position: absolute;
  width: 1028px;
  height: 520px;
  left: 131px;
}

.banner .bannerButton {
  position: absolute;
  width: 150px;
  height: 50px;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: #0E49B5;
  border-radius: 5px;
  top: 60%;
  left: 52%;
  border: none;
  cursor: pointer;
  text-align: center;
}

.banner .ipad_air_banner1 {
  position: absolute;
  width: 100%;
  height: 512px;
  right: 90px;
  top: 58px;
  background: url(../img/banners/ipad_air_banner.jpg);
}

.filters {
  position: absolute;
  width: 1028px;
  height: 60px;
  left: 131px;
  top: 610px;
  background: #FFFFFF;
  border: 1px solid #DDDADA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.filters .search {
  left: 0;
  width: 20px;
  height: 20px;
  margin: 19px 10px 0 10px;
  color: #585050;
}

.filters .inp {
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  margin: 18px 10px 0 10px;
  border: none;
  outline: none;
  color: #767272;
}

.filters .inp:focus {
  width: 600px;
}

.filters .filterses {
  margin-right: 8px;
  position: absolute;
  right: 40px;
  width: 35px;
  height: 35px;
  margin-top: 12px;
  background: #0E49B5;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.filters .filterses .imgFilt {
  position: relative;
  right: 1px;
  top: 1px;
  width: 25px;
  height: 25px;
}

.filters .setting {
  position: absolute;
  right: 5px;
  width: 35px;
  height: 35px;
  margin-top: 12px;
  border-radius: 20px;
  background: #0E49B5;
  border: none;
  cursor: pointer;
  text-align: center;
}

.filters .setting .imgSet {
  position: relative;
  right: 1px;
  top: 1px;
  width: 25px;
  height: 25px;
}

.filters .setting .div1 {
  display: none;
}

.filterOption {
  position: absolute;
  width: 300px;
  height: 1500px;
  left: 150px;
  top: 695.8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.filterOption .sortSel {
  border: 1px solid rgba(41, 41, 41, 0.15);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
}

.filterOption__header {
  padding: 5px 10px;
  font-size: 16px;
  background: rgba(160, 160, 160, 0.15);
}

.filterOption__container {
  padding: 10px 10px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filterOption__container--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filterOption__container .inputFtom {
  margin: 5px 0 5px 30px;
}

.filterOption__container .inputTo {
  margin: 5px 0 5px 50px;
}

.filterOption__container .input {
  margin: 10px 90px 10px 20px;
}

.cardBlockMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 660px 0 0 480px;
}

.blockCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  width: 700px;
  height: 100%;
  background: #FFFFFF;
}

.card {
  width: 300px;
  height: 480px;
  margin: 0 15px 100px 15px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
}

.cardImages {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.footCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  height: 86px;
  margin: 14px 0 0 0;
  background: #DAE2EA;
  border-radius: 0px 0px 10px 10px;
}

.footCardInModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  height: 86px;
  margin: 14px 0 0 0;
  background: #DAE2EA;
  border-radius: 10px 10px 10px 10px;
}

.allLable {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.infText {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #767272;
}

.addToCart {
  width: 150px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: #0E49B5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.pshka {
  margin-top: 19px;
}

.modal {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__modalContainer {
  width: 1000px;
  height: 500px;
  background: white;
  border-radius: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal__modalContainer img {
  width: 250px;
}

.modal__modalContainer .imgModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  border-right: 2px solid #c2c0c0;
  padding-right: 40px;
}

.modal__modalContainer .centralModal {
  height: 500px;
  border-right: 2px solid #c2c0c0;
  padding-right: 40px;
}

.modal__modalContainer .forButton {
  margin: 150px 80px 0 0;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */