* {
   font-family: 'Roboto', sans-serif;
}


.headerer {
   // display: flex;
   // position: absolute;
   .head {
      display: flex;
      justify-content: space-between;
      width: 1025px;
      margin-left: 138px;

  }

}


.itemPage {
   position: relative;
   width: 1200px;
   height: 100%;
   

   // background: #FFFFFF;
   // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.signIn {
   // position: absolute;
   display: flex;
   justify-content: space-between;
   width: 1025px;
   margin-left: 138px;
}
.cart {
   top: 14px;
   img {
      width: 80px;
   }
}

.banner {
   position: absolute;
   width: 1028px;
   height: 520px;
   left: 131px;
   .bannerButton{
      position: absolute;
      width: 150px;
      height: 50px;
      font-size: 20px;
      line-height: 23px;
      color: #FFFFFF;
      background: #0E49B5;
      border-radius: 5px;
      top: 60%;
      left: 52%;
      border: none;
      cursor: pointer;
      text-align: center;
   }
   .ipad_air_banner1{
      position: absolute;
      width: 100%;
      height: 512px;
      right: 90px;
      top: 58px;
      background: url(../img/banners/ipad_air_banner.jpg);
   }
}


.filters {
   // display: flex;
   // flex-wrap: wrap;
   // justify-content: space-between;
   position: absolute;
   width: 1028px;
   height: 60px;
   left: 131px;
   top: 610px;

   background: #FFFFFF;
   border: 1px solid #DDDADA;
   box-sizing: border-box;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   .search {
      // position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 19px 10px 0 10px;
      color: #585050;
   }
   .inp {
      position: absolute;
      font-size: 18px;
      line-height: 21px;
      margin: 18px 10px 0 10px;
      border: none;
      outline: none;

      color: #767272;
   }
   .inp:focus {
      width: 600px;
   }
   .filterses{
      margin-right: 8px;
      position: absolute;
      right: 40px;
      width: 35px;
      height: 35px;
      margin-top: 12px;
      background: #0E49B5;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      text-align: center;
      .imgFilt{
         position: relative;
         right: 1px;
         top: 1px;
         width: 25px;
         height: 25px;
      }
   }
   .setting{
      position: absolute;
      right: 5px;
      width: 35px;
      height: 35px;
      margin-top: 12px;
      border-radius: 20px;
      background: #0E49B5;
      border: none;
      cursor: pointer;
      text-align: center;
      // // background: url(../img/icons/settings.svg);
      // background-size: 30px;
      .imgSet{
         position: relative;
         right: 1px;
         top: 1px;
         width: 25px;
         height: 25px;
      }
      .div1 {
         display: none;
      }
   }
}


.filterOption{
   position: absolute;
   width: 300px;
   height: 1500px;
   left: 150px;
   top: 695.8px;
   border: 1px solid #ced4da;
   border-radius: 5px;
   .sortSel{
      border: 1px solid rgba(41, 41, 41, 0.15);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 10px 15px;
      cursor: pointer;
      width: 100%;
   }
   // &__block{
   //    border-bottom: 1px solid black;
   //    border-top: 1px solid black;
   // }
   &__header{
      padding: 5px 10px;
      font-size: 16px;
      background: rgba(160, 160, 160, 0.15);
   }
   &__container {
      padding: 10px 10px;
      display: none;
      flex-wrap: wrap;
      &--active {
         display: flex;
      }
      .inputFtom{
         margin: 5px 0 5px 30px;
      }
      .inputTo{
         margin: 5px 0 5px 50px;
      }
      .input{
         margin: 10px 90px 10px 20px;
      }
   }
}
.cardBlockMain{
   display: flex;
   margin: 660px 0 0 480px;
}

.blockCard {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   // position: absolute;
   margin-top: 20px;
   width: 700px;
   height: 100%;

   background: #FFFFFF;
}

.card {
   width: 300px;
   height: 480px;
   margin: 0 15px 100px 15px;
   background: #FFFFFF;
   border: 1px solid #E0E0E0;
   box-sizing: border-box;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   text-align: center;

}
.cardImages {
   width: 200px;
   height: 200px;
   margin-top: 20px;
}
.footCard {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 300px;
   height: 86px;
   margin: 14px 0 0 0;

   background: #DAE2EA;
   border-radius: 0px 0px 10px 10px;
}

.footCardInModal{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 300px;
   height: 86px;
   margin: 14px 0 0 0;

   background: #DAE2EA;
   border-radius: 10px 10px 10px 10px;
}
.allLable{
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   line-height: 28px;

   color: #000000;
}
.infText{
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 16px;

   color: #767272;
}
.addToCart{
   width: 150px;
   height: 50px;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   color: #FFFFFF;
   background: #0E49B5;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   text-align: center;
}

.pshka {
   margin-top: 19px;
}

.modal {
   width: 100vw;
   height: 100vh;
   box-sizing: border-box;
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   display: none;
   justify-content: center;
   align-items: center;
   &__modalContainer {
      width: 1000px;
      height: 500px;
      background: white;
      border-radius: 10px 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      img {
         width: 250px;
      }
      // .modalOpenWInd {
         // display: flex;
         // justify-content: space-between;
         // flex-wrap: wrap;
         // margin: 10px ;
      // }
      .imgModal{
         display: flex;
         height: 500px;
         align-items: center;
         margin-left: 10px;
         border-right: 2px solid #c2c0c0;
         padding-right: 40px;
      }
      .centralModal{
         height: 500px;
         border-right: 2px solid #c2c0c0;
         padding-right: 40px;
      }
      .forButton{
         margin: 150px 80px 0 0;
      }
  
   
   }
   &.active {
      display: flex;
   }
}

